<!DOCTYPE> <HTML> <head> </head> <body> <p>
<p>For the nonzero numbers a, b, and c, define
</p><p><img src="https://latex.artofproblemsolving.com/5/9/5/595bdbbce760b90450663fe2b57d9c64a37b20e4.png" class="latex" alt="$D(a,b,c)=\frac{abc}{a+b+c}$" style="vertical-align: -14px" width="167" height="39" />
</p><p>Find <img src="https://latex.artofproblemsolving.com/c/7/1/c7193bf02055d47f419465cee5f22f83d2f552d8.png" class="latex" alt="$D(2,4,6)$" style="vertical-align: -4px" width="71" height="18" />.
</p><p><img src="https://latex.artofproblemsolving.com/5/b/9/5b99e53d7245f78618fbfe4fb310c4be4652182b.png" class="latex" alt="$\mathrm{(A) \ } 1\qquad \mathrm{(B) \ } 2\qquad \mathrm{(C) \ } 4\qquad \mathrm{(D) \ } 6\qquad \mathrm{(E) \ } 24$" style="vertical-align: -4px" width="351" height="18" />
</p>
</p> </body> </html>