<!DOCTYPE> <HTML> <head> </head> <body> <p>
<p>Mr. Earl E. Bird gets up every day at 8:00 AM to go to work. If he drives at an average speed of 40 miles per hour, he will be late by 3 minutes. If he drives at an average speed of 60 miles per hour, he will be early by 3 minutes. How many miles per hour does Mr. Bird need to drive to get to work exactly on time?
</p><p><img src="https://latex.artofproblemsolving.com/7/3/b/73b30e2997cc6274bd518650b71c2110fd946c42.png" class="latex" alt="$\textbf{(A)}\ 45 \qquad \textbf{(B)}\ 48 \qquad \textbf{(C)}\ 50 \qquad \textbf{(D)}\ 55 \qquad \textbf{(E)}\ 58$" style="vertical-align: -4px" width="394" height="17" />
</p>
</p> </body> </html>