<!DOCTYPE> <HTML> <head> </head> <body> <p>
<p>The mean, median, unique mode, and range of a collection of eight integers are all equal to 8. The largest integer that can be an element of this collection is 
</p><p><img src="https://latex.artofproblemsolving.com/3/d/b/3dbc1285494ac244dcaefe6d3beb466f339dcc19.png" class="latex" alt="$\text{(A) }11 \qquad \text{(B) }12 \qquad \text{(C) }13 \qquad \text{(D) }14 \qquad \text{(E) }15$" style="vertical-align: -4px" width="375" height="17" />
</p>
</p> </body> </html>