<!DOCTYPE> <HTML> <head> </head> <body> <p>
<p>A regular octagon <img src="https://latex.artofproblemsolving.com/0/5/5/055dcba798b1424c44c2606d913e0f2edab1c5ad.png" class="latex" alt="$ABCDEFGH$" width="118" height="13" /> has sides of length two.  Find the area of <img src="https://latex.artofproblemsolving.com/f/7/b/f7b22de7a6a4a849d8997f3db62b129ea8c74b4e.png" class="latex" alt="$\triangle ADG$" width="59" height="13" />.
</p><p><img src="https://latex.artofproblemsolving.com/4/a/5/4a59de5cfea6537885df98a7dad9c00a2226539b.png" class="latex" alt="$\textbf{(A) } 4 + 2\sqrt2 \qquad \textbf{(B) } 6 + \sqrt2\qquad \textbf{(C) } 4 + 3\sqrt2 \qquad \textbf{(D) } 3 + 4\sqrt2 \qquad \textbf{(E) } 8 + \sqrt2$" style="vertical-align: -4px" width="613" height="21" />
</p>
</p> </body> </html>