<!DOCTYPE> <HTML> <head> </head> <body> <p>
<p>Suppose that <img src="https://latex.artofproblemsolving.com/c/a/d/cad681354a2a529a1828a56b2b5629faec3cd128.png" class="latex" alt="$\{a_n\}$" style="vertical-align: -4px" width="35" height="18" /> is an arithmetic sequence with
<img src="https://latex.artofproblemsolving.com/e/8/6/e868a80b5058466bd743a2b7b66cb8c2f25c7447.png" class="latexcenter" alt="\[a_1+a_2+\cdots+a_{100}=100 \text{ and } a_{101}+a_{102}+\cdots+a_{200}=200.\]" width="474" height="15" />
What is the value of <img src="https://latex.artofproblemsolving.com/4/4/7/4471ab1dcdf239493f98c420d1332770a8c5379d.png" class="latex" alt="$a_2 - a_1&#160;?$" style="vertical-align: -2px" width="64" height="15" />
</p><p><img src="https://latex.artofproblemsolving.com/d/b/0/db00a18277aeddbada3a073ecea33f0b18d589b4.png" class="latex" alt="$\mathrm{(A) \ } 0.0001\qquad \mathrm{(B) \ } 0.001\qquad \mathrm{(C) \ } 0.01\qquad \mathrm{(D) \ } 0.1\qquad \mathrm{(E) \ } 1$" style="vertical-align: -4px" width="452" height="18" />
</p>
</p> </body> </html>