<!DOCTYPE> <HTML> <head> </head> <body> <p>
<p>A set of tiles numbered 1 through 100 is modified repeatedly by the following operation: remove all tiles numbered with a <a href="/wiki/index.php/Perfect_square" title="Perfect square">perfect square</a>, and renumber the remaining tiles consecutively starting with 1. How many times must the operation be performed to reduce the number of tiles in the set to one?
</p><p><img src="https://latex.artofproblemsolving.com/b/f/4/bf4da4caa41a981cf84d5b220a56f56fb5cb62a4.png" class="latex" alt="$\text{(A)}\ 10 \qquad \text{(B)}\ 11 \qquad \text{(C)}\ 18 \qquad \text{(D)}\ 19 \qquad \text{(E)}\ 20$" style="vertical-align: -4px" width="375" height="17" />
</p>
</p> </body> </html>