<!DOCTYPE> <HTML> <head> </head> <body> <p>
<p>Four distinct <a href="/wiki/index.php/Circle" title="Circle">circles</a> are drawn in a <a href="/wiki/index.php/Plane" title="Plane">plane</a>. What is the maximum number of points where at least two of the circles intersect?
</p><p><img src="https://latex.artofproblemsolving.com/c/1/0/c10c869397ff976fd48f18be1d9564772f70a2ba.png" class="latex" alt="$\mathrm{(A)}\ 8 \qquad\mathrm{(B)}\ 9 \qquad\mathrm{(C)}\ 10 \qquad\mathrm{(D)}\ 12 \qquad\mathrm{(E)}\ 16$" style="vertical-align: -4px" width="369" height="18" />
</p>
</p> </body> </html>