<!DOCTYPE> <HTML> <head> </head> <body> <p>
<p>Andy's lawn has twice as much area as Beth's lawn and three times as much area as Carlos' lawn. Carlos' lawn mower cuts half as fast as Beth's mower and one third as fast as Andy's mower. If they all start to mow their lawns at the same time, who will finish first?
</p><p><img src="https://latex.artofproblemsolving.com/6/4/6/646f79889a74a1324e002127661ba7658aafe48e.png" class="latex" alt="$\mathrm{(A)}\ \text{Andy} \qquad\mathrm{(B)}\ \text{Beth} \qquad\mathrm{(C)}\ \text{Carlos} \qquad\mathrm{(D)}\ \text{Andy\ and \ Carlos\ tie\ for\ first.} \qquad\mathrm{(E)}\ \text{All\ three\ tie.}$" style="vertical-align: -4px" width="727" height="18" />
</p>
</p> </body> </html>