<!DOCTYPE> <HTML> <head> </head> <body> <p>
<p>The product of three consecutive positive integers is <img src="https://latex.artofproblemsolving.com/8/4/5/8455f3b5cb3b4880b8c9d782a5c1f0334db819eb.png" class="latex" alt="$8$" width="8" height="12" /> times their sum. What is the sum of their <a href="/wiki/index.php/Perfect_square" title="Perfect square">squares</a>?
</p><p><img src="https://latex.artofproblemsolving.com/7/d/7/7d7ed05f869b41d88f50c4759a6665dfb7da03c2.png" class="latex" alt="$\mathrm{(A)}\ 50 \qquad\mathrm{(B)}\ 77 \qquad\mathrm{(C)}\ 110 \qquad\mathrm{(D)}\ 149 \qquad\mathrm{(E)}\ 194$" style="vertical-align: -4px" width="415" height="18" />
</p>
</p> </body> </html>