<!DOCTYPE> <HTML> <head> </head> <body> <p>
<p>What is the value of  <img src="https://latex.artofproblemsolving.com/6/3/3/633c735076f3f913ac83dbb4bb29c1ffdf532bf5.png" class="latex" alt="$(3x - 2)(4x + 1) - (3x - 2)4x + 1$" style="vertical-align: -4px" width="266" height="18" /> when <img src="https://latex.artofproblemsolving.com/2/e/7/2e7d65cfa316d639c9267398009812f3eb45fea9.png" class="latex" alt="$x=4$" style="vertical-align: 0px" width="43" height="12" />?
</p><p><img src="https://latex.artofproblemsolving.com/2/1/9/2195933429c822407212f9791b5c67cb01bb68c0.png" class="latex" alt="$\mathrm{(A)}\ 0 \qquad\mathrm{(B)}\ 1 \qquad\mathrm{(C)}\ 10 \qquad\mathrm{(D)}\ 11 \qquad\mathrm{(E)}\ 12$" style="vertical-align: -4px" width="369" height="18" />
</p>
</p> </body> </html>