<!DOCTYPE> <HTML> <head> </head> <body> <p>
<p>Compute the sum of all the roots of
<img src="https://latex.artofproblemsolving.com/b/0/7/b075ab9912926a36af152a82073cad1547be9259.png" class="latex" alt="$(2x+3)(x-4)+(2x+3)(x-6)=0$" style="vertical-align: -4px" width="296" height="18" />
</p><p><img src="https://latex.artofproblemsolving.com/1/0/a/10a753882347e0b6bbe5421886240d0cff727dd9.png" class="latex" alt="$\textbf{(A) } \frac{7}{2}\qquad \textbf{(B) } 4\qquad \textbf{(C) } 5\qquad \textbf{(D) } 7\qquad \textbf{(E) } 13$" style="vertical-align: -13px" width="368" height="38" />
</p>
</p> </body> </html>